fieldset{
    background-color:cornflowerblue;
}
div{
    width: 74%;
    height: max-content;
}
textarea{
    width: 230px;
    height: 100px;
}
th, pre{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
}
td{
    font-size:small;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
legend{
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    font-weight:bold;
    font-size: 30px;
    color: yellow;
}
body{
    background-image: url("media/fondo.jpeg");
}
h1{
    color: yellow;
}